<ion-view title="Evaluación">
 <ion-content>
<div class="hero-alumno slide-up" style="background-image: url('');">
            <div class="content evaluacion">
               <h1>Aprendizaje Lectura</h1>
               <h3>Medición de conocimiento de alfabeto. <br>
                    Grafema, fonema y nombre de letra.</h3>
            </div>
        </div>          
            <!-- <a ui-sref="" class=""> -->
            <button class="button button-block button-instrucciones evaluar icon-left">
              <img src="img/icon-instr.svg" alt="" class="icon">Instrucciones
            </button>
            <!-- </a> -->
       
         <div class="evaluar-desc animate-fade-slide-in-right ">

            <div class="card">
                     <h5>Estudiante a evaluar</h5>
                  
                <div class="list-select">
                  <label class="item item-input item-select">
                    <div class="input-label">
                       <i class="icon ion-person-stalker dark"></i>
                    </div>
                      
                      <select ng-model="estudiante" ng-options="estudiante.id as estudiante.name for estudiante in curso" ng-change="cambioEstudiante(estudiante)">
                         <option value="" selected>Seleccione un Estudiante</option>
                      </select>
                  </label>               
                </div>

             
                <h5>Seleccione Mes a Evaluar</h5>
                  
                <div class="list-select">
                  <label class="item item-input item-select">
                    <div class="input-label">
                       <i class="icon ion-calendar dark"></i>
                    </div>
                     <select ng-model="mes" ng-change="cambioMes(mes)">
                 
                      <option>Marzo</option>
                      <option>Abril</option>
                      <option>Junio</option>
                      <option>Julio</option>
                      <option>Agosto</option>
                      <option>Septiembre</option>
                      <option>Octubre</option>
                      <option>Noviembre</option>
                    </select>
                  </label>
                 
                </div>
              </div>
              <a ng-click="comenzarEvaluacion()" class=""><button class="button button-block button-evaluar icon-left ">
                <img src="img/icon-evaluar-button.svg" alt="" class="icon">Comenzar evaluación</button></a>
            </div>
    </ion-content>
</ion-view>