<ion-view view-title="Alumnos">
    <ion-content ng-class="{expanded:isExpanded}">
    <!-- <div class="alumnos">
        <div class="content has-header ">
            <div class="list animate-fade-slide-in-right">

             <ion-item ng-repeat="item in curso">
                <a  ui-sref="app.evaluar" class="item item-avatar">
                 <div class="item-icon-left">
                    <i class="icon ion-person muted"></i>
                    </div>
                    <h2>Pablo Salgado</h2>
                    <div class="item-icon-right">
                    <i class="icon ion-chevron-right muted"></i>
                    </div>
                </a>
            </ion-item>
            </div>
        </div>
        </div> -->
<ion-list>
  <ion-item ng-repeat="item in curso">
                <a  ui-sref="app.evaluar ({ id_estudiante: item.id })" class="item item-avatar">
                 <div class="item-icon-left">
                    <i class="icon ion-person muted"></i>
                    </div>
                    <h2>{{item.name}}</h2>
                    <div class="item-icon-right">
                    <i class="icon ion-chevron-right muted"></i>
                    </div>
                </a>
  </ion-item>
</ion-list>

    </ion-content>
</ion-view>


