<ion-nav-bar class="bar-stable nav-title-slide-ios7">

</ion-nav-bar>

<!-- <ion-nav-bar class="bar-stable" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
               
            </ion-nav-buttons>
        </ion-nav-bar>
         -->

<ion-tabs class="tabs-icon-top">
 
 
 <!-- Dashboard Tab -->
 <ion-tab title="Inicio" icon="icon ion-home" href="#/app/home">
 <ion-nav-view name="tab-home"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Friends Tab -->
 <ion-tab title="Evaluar" icon="icon ion-heart" href="#/app/evaluar">
 <ion-nav-view name="tab-evaluar"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Account Tab -->
 <ion-tab title="Estudiantes" icon="icon ion-gear-b" href="#/app/estudiantes">
 <ion-nav-view name="tab-estudiantes"></ion-nav-view>
 </ion-tab>

<ion-tab>
 <ion-nav-view name="tab-evaluacion"></ion-nav-view>
</ion-tab>
 
 
</ion-tabs>