<ion-view view-title="Test Letras">
    <ion-content >
      <div class="hero-alumno-test ">
            <div class="content">
               
                <div class="avatar-alumno" >
                    <a ui-sref="app.evaluar"><i class="icon ion-close"></i></a></div>
                <h5>Alumno en evaluación</h5>
                <h3>Nombre Alumno</h3>
                
                
               <a ui-sref="app.test-letrasj" >
                <div class="sig-letra" >
                  <i class="icon ion-chevron-right"></i></div></a>

            </div>
        </div>
         <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-chevronright" menu-toggle="modal">
                </button>
            </ion-nav-buttons>
            <div class="item item-image scroll">
              <img src="img/letras/r-todas.svg" alt="">
            </div>


          <div class="test-footer" align-title="center" >
          
            <!--
            <div class="row">
              <div class="col"><span>Nombre de letra</span></div>
            <div class="col">  <span>Sonido de letra</span></div>
          </div> -->

         
             <div class="row fixed">
              <div class="item item-toggle">
                 
                 <img src="img/icon-letra.svg" alt="" class="icon-letra">
                 <label class="toggle toggle-energized">
                   <input type="checkbox">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </div>
                <div class="item item-toggle">
                  <i class="icon  ion-android-volume-up"></i>
                 <label class="toggle toggle-energized">
                   <input type="checkbox">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </div>
            </div>
          </div>


    </ion-content>


</ion-view>
